{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Cafe System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header>
        <div class="navbar">
            <div class="nav-inner">
            <a href="{% url 'main_menu' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'make_reservation' %}">Make Reservation</a>
                <a href="{% url 'menu_list' %}">Menu</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:signup' %}">Signup</a>
            {% endif %}
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>